<h2 class="title">gadgets</h2>
<div class="product">
  <mat-card class="example-card" style="margin-left: 1rem;">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
</div>
<h2 class="title">cosmetics</h2>
<div class="product">
  <mat-card class="example-card" >
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="http://cdn.shopify.com/s/files/1/0014/3514/0183/collections/1169x511_5533e89f-c8b3-494c-ba2d-18237c3c1f60.jpg?v=1617971669" alt="###" />
    <mat-card-actions class="pricet">
      <h3>price</h3>
      <h4>$120</h4>
    </mat-card-actions>
    <mat-card-content>
      <button mat-button>Buy</button>
    </mat-card-content>
  </mat-card>
</div>
