.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .titleHead{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 2px #9c6c6c;
    font-size: xx-large;
  }
  .card-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .cardImg{
    width:  350px;
    height: 250px;
    object-fit: cover;
  }
  .proTitle{
    display: flex;
    justify-content: center;
    color: green;
    text-transform: capitalize;
  }
  .price{
    margin-top: 1rem;
  }
  .btnStyle:hover{
    background-color: orange;
  }
  .card-footer{
    display: flex;
    justify-content: space-around;
  }
  .sliderContainer{
    display: flex;
    justify-content: center;
  }
  .proTitel{
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 1em;
  }